#py-zerox
#pymupdf4llm
markdown-to-json
pandas
transformers 
torch
pdf2image
pillow==9.5.0
opencv-python
layoutparser
"layoutparser[ocr]"
torch torchvision torchaudio
openai
tqdm
'git+https://github.com/facebookresearch/detectron2.git@v0.4#egg=detectron2' 